---

---

<div class="absolute inset-0 -z-10 overflow-hidden bg-dracula text-white">
    <svg
        viewBox="0 0 1200 800"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full animate-pulse opacity-20"
        preserveAspectRatio="none"
    >
        <defs>
            <radialGradient id="grad1" cx="50%" cy="50%" r="80%">
                <stop offset="0%" stop-color="#44475a"></stop>
                <stop offset="40%" stop-color="#282a36"></stop>
                <stop offset="100%" stop-color="#1e1f29"></stop>
            </radialGradient>
        </defs>

        <path fill="url(#grad1)">
            <animate
                attributeName="d"
                dur="20s"
                repeatCount="indefinite"
                values="
            M0,0 C300,300 900,300 1200,0 L1200,800 C900,500 300,500 0,800 Z;
            M0,0 C400,200 800,400 1200,0 L1200,800 C800,600 400,600 0,800 Z;
            M0,0 C300,300 900,300 1200,0 L1200,800 C900,500 300,500 0,800 Z
          "
            ></animate>
        </path>
    </svg>
</div>
