---
import "@/assets/global.css";
import "animate.css";
import StickyNavbar from "./StickyNavbar.astro";
import Footer from "./Footer.astro";
import GithubButton from "./GithubButton.astro";
---

<html lang="es" data-theme="dracula">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Invitación Disertación</title>
    </head>
    <body class="relative bg-base-200 text-base-content">
        <GithubButton />
        <StickyNavbar />

        <main class="relative z-10 overflow-x-hidden">
            <slot />
        </main>

        <Footer />
    </body>
</html>
