---
import "@/assets/global.css";
---

<html lang="es" data-theme="dracula">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Invitación Disertación</title>
    </head>
    <body class="relative bg-base-200 text-base-content">
        <main class="relative z-10 overflow-x-hidden">
            <slot />
        </main>
    </body>
</html>
