---

---

<div class="finisher-header" style="z-index: 0">
    <section
        class="relative w-full min-h-screen flex items-center justify-center text-white text-center"
    >
        <slot />
        <div
            class="absolute bottom-[-152px] left-0 w-full h-[40dvh] pointer-events-none bottom-fader"
        >
        </div>
    </section>

    <!-- Script para fondo animado -->
    <script src="/libs/finisher-header.es5.min.js" type="text/javascript"
    ></script>
    <script type="text/javascript" is:inline>
        setTimeout(() => {
            new FinisherHeader({
                count: 20,
                size: {
                    min: 1367,
                    max: 1500,
                    pulse: 2,
                },
                speed: {
                    x: {
                        min: 0.6,
                        max: 3,
                    },
                    y: {
                        min: 0.6,
                        max: 3,
                    },
                },
                colors: {
                    background: "#232530",
                    particles: [
                        "#44475a",
                        "#282a36",
                        "#5b73e3",
                        "#2f46b3",
                        "#3348aa",
                        "#8695df",
                        "#000f5f",
                        "#9736ff",
                        "#7b00ff",
                        "#dc12f0",
                    ],
                },
                blending: "lighten",
                opacity: {
                    center: 0.6,
                    edge: 0,
                },
                skew: 0,
                shapes: ["c"],
            });
        }, 50);
    </script>
</div>
